[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twint = "*"
csvs-to-sqlite = "*"
sqlite-utils = "*"
requests = "*"
datasette = ">=0.46"
pdfreader = "*"
bs4 = "*"

[requires]
python_version = "3.9"
